{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "off",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "linebreak-style": ["off", "windows"],
    "import/order": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off",
    "quotes": [
      "off",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "quote-props": [
      "off",
      "always"
    ],
    "arrow-parens": [
      "off",
      "always"
    ],
    "consistent-return": [
      "off",
      {
        "treatUndefinedAsUnspecified": true
      }
    ],
    "arrow-body-style": [
      "off",
      "always"
    ]
  }
}
